.gradle
.idea
build
/iosApp/DerivedData
/iosApp/Pods
/iosApp/.xcworkspace
/iosApp/iosApp.xcodeproj/project.xcworkspace
/iosApp/iosApp.xcodeproj/xcuserdata
.DS_Store
local.properties
glee.properties
release.properties
*.jks
*.keystore
google-services.json
*.iml
.kotlin/
kotlin-js-store/
.firebase/
